.comfortable label {
    background-color: gray;
    padding: 10px 20px;
    margin: 5px 5px;
}

.familiar label {
    background-color: gray;
    padding: 10px 20px;
    margin: 5px 5px;
}

.tools label {
    background-color: gray;
    padding: 10px 20px;
    margin: 5px 5px;
}